.container {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 76px;
    margin-right: 76px;
    /* width: 1140px; */
}
.body-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
}

.body-images video {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preorder {
    margin-top: 15%;
    margin-left: 15%;
    position: absolute;
    z-index: 1;
    text-align: center;
}

.preorder-wrap {
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 76px;
    margin-right: 76px;
    /* width: 1140px; */
}

.preorder-wrap p{
    font-weight: bold;
    font-size: 130%;
    
}
.preorder-wrap a {
    font-weight: bold;
    font-size: 130%;
    z-index: 1;

    text-decoration: none;
    background: transparent;
    color: aliceblue;
    padding: 10px 20px;
    margin-top: 20px;
    border: 4px solid;
    border-color: aliceblue;
}

.body-bg button:hover {
    background-color: aliceblue;
    color: black;
    transition: .5s;
    cursor: pointer;
}


.body-bg a:hover {
    background-color: aliceblue;color: black;
    transition: .5s;
}



@media screen (max-width: 1710px) {
    .footer {
        margin-left: 250px;
    }
}

@media (max-width: 1520px) {
    .navbar-hover-a:hover {
        margin: 10px 10px;
    }
    .navbar-menu li a {
        margin-left: 20px;
        margin-right: 20px;
    }
    .navbar-brand {
        margin-left: 5%;
    }
    .navbar-menu {
        margin-right: 0;
    }
}



@media (max-width: 1024px) {
    .navbar-menu {
        margin-right: 0;
    }
    .navbar-menu li a{
        margin-left: 5px;
        margin-right: 5px;
    }

    .navbar-hover-a:hover {
        margin: 5px 5px;
        padding: 10px 10px;
    }
    .container {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media (max-width: 768px) {

    .navbar-menu {
        margin-right: 0;
    }
    .navbar-menu li a{
        margin-left: 1px;
        margin-right: 1px;
        /* padding-left: 1px;
        padding-right: 1px; */
    }

    .navbar-hover-a:hover {
        margin: 1px 1px;
        padding: 10px 10px;
    }

    .container {
        margin-left: 20px;
        margin-right: 20px;
    }

    .preorder {
        margin-left: 0;
    }
}

@media (max-width: 390px) {
    .preorder {
        margin:50px 38px 50px 38px;
    }
    .preorder-wrap {
        margin:0 40px 0 40px;
    }

    .footer-table {
        padding: 0;
    }
}