* {
    box-sizing: border-box;
 }

 .products-wrapper {
    margin-left: 70px;
    /* margin-right: 20px; */
    margin-top: 20px;
    margin-bottom: 30px;
 }
 .product-item {
    display: inline-block;
    width: 400px;
    text-align: center;
    margin: 0 auto;
    margin-right: 50px;
    margin-bottom: 30px;
    margin-top: 100px;
    border-bottom: 2px solid #F5F5F5;
    background: white;
    /* font-family: "Open Sans"; */
    transition: .3s ease-in;
 }
 .product-item:hover {
    border-bottom: 2px solid #fc5a5a;
 }
 .product-item img {
    display: block;
    width: 100%;
 }
 .product-list {
    background: #000000;
    padding: 15px 0;
 }
 .product-list h3 {
    font-size: 18px;
    font-weight: 400;
    color: aliceblue;
    margin: 0 0 10px 0;
 }
 .price {
    font-size: 16px;
    color: #fc5a5a;
    display: block;
    margin-bottom: 12px;
 }
 .button {
    text-decoration: none;
    display: inline-block;
    padding: 0 12px;
    color: aliceblue;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 28px;
    border: 2px solid;
    transition: .3s ease-in;
 }
 .product-item:hover .button {
    background: aliceblue;
    color: #000000;

 }

